@inherits Umbraco.Web.Mvc.UmbracoViewPage
<style>
  .home-hero {
  background: no-repeat center center;
  background-attachment: scroll;
  position: relative;
  background-size: cover;
  color: white;
  }
  
  .home-hero > .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(31, 3, 103, 0.8);
    z-index: 1;
  }
  
  .home-hero > .inner {
      position: relative;
      z-index: 2;
    }
</style>

@{
  var heroImage = Model.Value<IPublishedContent>("heroImage")?.Url ?? "";
}


<div class="jumbotron jumbotron-fluid home-hero" style="background-image: url('@heroImage')">
  <div class="overlay">
    
  </div>
  <div class="inner">
    <div class="container">
        <h1 class="display-4">@Model.Value("heroTitle")</h1>
        <p class="lead">@Model.Value("heroDesc")</p>
      </div>
  </div>
</div>