@model HighlyDeveloped.Core.Views.TwitterViewModel
<h1>Load the tweets for @Model.TwitterHandle</h1>

@Model.Json
<section class="container">
    <div class="row">
        <div class="col">
            <div class="card-deck">
                
                
                <div class="card">
                    <div class="card-header">
                        
                    </div>
                    
                    <div class="card-body">
                        
                    </div>
                    
                    <div class="card-footer">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>