@inherits Umbraco.Web.Mvc.UmbracoViewPage

<a class="twitter-timeline" href="https://twitter.com/Thairath_Ent?ref_src=twsrc%5Etfw">Tweets by Thairath_Ent</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


