@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.About>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = null;
}

<html>
    <body>
        <h1>@Model.Value("pageContentText")</h1>
    </body>
</html>