
@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    Layout = "Main.cshtml";
}

@* the fun starts here *@


@Html.Partial("Hero")
@Html.Partial("Call to Action")


<div class="container">
    <div class="row">
        <div class="col">
            @Html.Partial("Lasted News")
        </div>
    </div>
</div>